<div id="blog-categories">
    <ul id="myTabs" class="nav nav-tabs nav-justified" role="tablist">
        <li role="presentation" class="active"><a href="#wechat">公众号</a></li>
        <li role="presentation"><a href="#know">小密圈</a></li>
        <li role="presentation"><a href="#qq">QQ群</a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="fade in tab-pane active" id="wechat">
            <img src="/assets/images/follow.png" alt="ttcoder404">
        </div>
        <div role="tabpanel" class="fade tab-pane" id="know">
            <img src="/assets/images/know.png" alt="know">
            <h5 class="stitle">只要<span class="glyphicon glyphicon-yen"></span>199元,跟我学一年</h5>
            <p><i class="glyphicon glyphicon-ok"></i>答疑解惑，回答所提问题（选择性回答）</p>
            <p><i class="glyphicon glyphicon-ok"></i>资源共享，mac工具，学习教程，最新电影</p>
        </div>
        <div role="tabpanel" class="fade tab-pane" id="qq">
            <h5 class="stitle" style="margin-top: 40px;">加入QQ群，一起学习交流</h5>
            <p><i class="glyphicon glyphicon-user"></i><a href="//shang.qq.com/wpa/qunwpa?idkey=8642d48cdbbbf663c5ce969efdb052297463aa0fef90b3ebc024a03f75610a8b" target="_blank">头秃程序猿交流群1</a></p>
            <p><i class="glyphicon glyphicon-user"></i><a href="//shang.qq.com/wpa/qunwpa?idkey=cb88d9f7e8ac9f2649d837320c4cad094439835a95bd46fe368514ef16089c80" target="_blank">头秃程序猿求职群1</a></p>
            <p><i class="glyphicon glyphicon-user"></i><a href="//shang.qq.com/wpa/qunwpa?idkey=aa316326cf9dd7bcd88b21b0f6b2253850dfc307674877df67d1a22302e65115" target="_blank">头秃程序猿VIP群1</a></p>
        </div>
      </div>
</div>
<script type="text/javascript">
$(function(){
    $("#myTabs a").click(function (e) {
        e.preventDefault()
        $(this).tab('show')
    })
})
</script>